<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Escolas</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>

	<header th:insert="~{Cabecalho :: cabecalho}"></header>
	<div th:insert="~{Menu :: menu}"></div>

	<div class="w3-main w3-container" style="margin-left: 263px; margin-top: 80px; margin-right: 6px;">
		
		<div class="w3-container w3-center">
			<h2 class="w3-text-teal">Escolas</h2>
		</div>
		<div class="w3-responsive">
			<table class="w3-table w3-border w3-striped">
				<tr class="w3-teal">
					<th>Id</th>
					<th>Nome</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
				<tr th:each="escola : ${escolas}">
					<td th:text="${escola.id}"></td>
					<td th:text="${escola.nome}"></td>
					<td><a th:href="@{/escola/{id}(id=${escola.id})}" class="w3-text-blue"><i class="material-icons">edit</i></a></td>
					<td><a class="btn-excluir-escola w3-text-red" th:attr="data-id=${escola.id}, data-nome=${escola.nome}"><i class="material-icons">delete</i></a></td>
				</tr>
			</table>
		</div>

		<!-- Modal de excluir escola -->
		<div id="modal-exclusao-escola" class="w3-modal">
			<div class="w3-modal-content w3-card-4 w3-animate-zoom">
				<header class="w3-container w3-teal">
					<span
						onclick="document.getElementById('modal-exclusao-escola').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h2>Excluir</h2>
				</header>
				<div class="w3-container">
					<p> Deseja excluir a escola: <span class="nome-escola"></span></p>
				</div>
				<footer class="w3-container w3-teal">
					<form class="w3-right" th:action="@{/escola}" method="post">
						<input type="hidden" name="_method" value="DELETE" />
						<button class="w3-button" type="submit">Sim</button>
					</form>
					<button class="w3-button" onclick="document.getElementById('modal-exclusao-escola').style.display='none'">Não</button>
				</footer>

			</div>
		</div>

	</div>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/escola.js"></script>

</body>
</html>