<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Sistema Escolar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/style.css">
<body>

	<header th:insert="~{Cabecalho :: cabecalho}"></header>
	<div th:insert="~{Menu :: menu}"></div>

	<div class="w3-main w3-container" style="margin-left:263px; margin-top:80px; margin-right:6px;">

	<h2 class="w3-center w3-text-teal">Cadastro de Aluno</h2>

		<form th:action="@{/aluno}" method="post" th:object="${aluno}">
			<div class="w3-row">
			  <div class="w3-half">
				<label>Matrícula:</label> 
				<input class="w3-input w3-border" type="text" th:field="*{matricula}">
			  </div>
			  <div class="w3-half">
			   <div class="w3-margin-left">
				<label>CPF:</label>
				<input class="w3-input w3-border" type="text" th:field="*{cpf}">
				</div>
			  </div>	
			</div>
			<p>
				<label>Nome:</label> 
				<input class="w3-input w3-border" type="text" th:field="*{nome}">
			</p>

			<div class="w3-row">
				<div class="w3-half">
					<label>Sexo: </label> 
					<input class="w3-radio" type="radio" th:field="*{sexo}" th:value="M" th:text="Masculino"> 
					<input class="w3-radio" type="radio" th:field="*{sexo}" th:value="F" th:text="Feminina">
				</div>

				<div class="w3-half">
					<label>Data de Nascimento:</label> <input type="text" class="w3-input w3-border"
						th:field="*{dataNascimento}">
				</div>
			</div>

			<p>
				<label>Nome da Mãe:</label> 
				<input class="w3-input w3-border" type="text" th:field="*{nomeMae}">
			</p>

			<p>
				<label>Nome do Pai:</label> <input class="w3-input w3-border" type="text"
					th:field="*{nomePai}">
			</p>

			<p>
				<label>Identidade (RG)</label> <input class="w3-input w3-border" type="text"
					th:field="*{rg}">
			</p>

			

			<p>
				<label>Endereço:</label> <input class="w3-input w3-border" type="text"
					th:field="*{endereco}">
			</p>

			<p>
				<label>Telefone:</label> <input class="w3-input w3-border" type="text"
					th:field="*{telefone}">
			</p>

			<p>
				<label>Email:</label> <input class="w3-input w3-border" type="text"
					th:field="*{email}">
			</p>
			<div class="w3-row">
			   <div class="w3-half">
			     <label>Portador de Necessidades Especiais:</label> 
			     <input class="w3-radio" type="radio" th:field="*{especial}" th:value="true" th:text="Sim"> 
			     <input class="w3-radio" type="radio" th:field="*{especial}" th:value="false" th:text="Não">
			   </div>
			   <div class="w3-half">
				 <label>Ano de Ingresso:</label> 
				 <input class="w3-input w3-border" type="text" th:field="*{anoIngresso}">
			   </div>
			</div>
			<p>
			<label>Status:</label>
			<select class="w3-select" th:field="*{status}">
				<option th:each="status : ${todosStatusAluno}" th:value="${status}"
					th:text="${status.descricao}"></option>
			</select>
            </p>
			<button type="submit" class="w3-button w3-section w3-green w3-ripple w3-padding">Salvar</button>

		</form>
	</div>
	<script src="/js/escola.js"></script>
</body>
</html>