<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	
	
	<div class="w3-container w3-margin">
	<div class="w3-card-4">

	
	<div class="w3-container w3-blue">
	<h2>Cadastro de Aluno</h2>
	</div>
	
<form class="w3-container">
  <p>
  <label>Nome Completo</label>
  <input class="w3-input" type="text" name="nome"></p>
  
  <p>
  <label>Número de Matrícula</label>
  <input class="w3-input" type="text" name="numeroMatricula"></p>
  <br/>
  
	<div class="w3-row">
	  <div class="w3-container w3-half">
	  <label>Sexo:</label>
	  <input class="w3-radio" type="radio" name="sexo" value="masculino" checked>
		<label>Masculino</label>

		<input class="w3-radio" type="radio" name="sexo" value="feminino">
		<label>Feminino</label>
		</div>
	   
		<br/>
		<br/>
		<br/>
	   
		<div class="w3-container w3-half">
		<label>Data de Nascimento:</label>
		<input type="date" name="dataNascimento">
		</div>
	</div>
	
	<br/>
	<br/>
  
  <p>
  <label>Nome da Mãe</label>
  <input class="w3-input" type="text" name="nomeMae"></p>
  
  <p>
  <label>Nome do Pai</label>
  <input class="w3-input" type="text" name="nomePai"></p>
  
  <p>
  <label>Identidade (RG)</label>
  <input class="w3-input" type="text" name="rg"></p>
  
  <p>
  <label>Cadastro de Pessoa Física (CPF)</label>
  <input class="w3-input" type="text" name="cpf"></p>
  
  <p>
  <label>Endereço</label>
  <input class="w3-input" type="text" name="endereco"></p>
  
  <p>
  <label>Telefone</label>
  <input class="w3-input" type="text" name="telefone"></p>
  
  <p>
  <label>Email</label>
  <input class="w3-input" type="text" name="email"></p>
  
  <label>Portador de Necessidades Especiais:</label>
  <input class="w3-radio" type="radio" name="necEsp" value="necEspSim" checked>
	<label>Sim</label>

	<input class="w3-radio" type="radio" name="necEsp" value="necEspNao">
	<label>Não</label>
  
  <br/>
  <br/>
  <br/>
  
  <label>Tipo de aluno:</label>
  <input class="w3-radio" type="radio" name="tipoAluno" value="novato" checked>
	<label>Novato</label>

	<input class="w3-radio" type="radio" name="tipoAluno" value="veterano">
	<label>Veterano</label>
    
    <br/>
    <br/>
	<br/>
   
   	<label>Data de Ingresso:</label>
    <input type="date" name="dataIngresso">
	
	<br/>
	<br/>
	<br/>
	
	<label>Status</label>
	<select class="w3-select" name="option">
  <option value="" disabled selected>Status do aluno</option>
  <option value="ativo">Ativo</option>
  <option value="inativo">Inativo</option>
  <option value="tranferido">Transferido</option>
  <option value="concluido">Concluído</option>
  </select>
	
	<button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Salvar</button>
  
  
</form>
	
	</div>
	</div>
</body>
</html>