<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Listar Alunos</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	</head>
	<body>
	
		<div class="w3-container">
  <h2>Lista de Alunos</h2>
  
  <a class="w3-button w3-teal" href="/aluno/novo">Novo aluno</a>
  
  <table class="w3-table-all w3-card-4">
    <tr>
   	  <th>Matrícula</th> 	
      <th>Nome Completo</th>
      <th>Sexo</th>
      <th>CPF</th>
	  <th>Visualizar</th>
	  <th>Editar</th>
	  <th>Deletar</th>
    </tr>
    <tr th:each="aluno : ${alunos}">
      <td th:text="${aluno.matricula}"></td>
      <td th:text="${aluno.nome}"></td>
      <td th:text="${aluno.sexo}"></td>
      <td th:text="${aluno.cpf}"></td>
      <td th:text="${aluno.dataNascimento}" style="display:none;"></td>
      <td th:text="${aluno.nomeMae}" style="display:none;"></td>
      <td th:text="${aluno.nomePai}" style="display:none;"></td>
      <td th:text="${aluno.endereco}" style="display:none;"></td>
      <td th:text="${aluno.telefone}" style="display:none;"></td>
      <td th:text="${aluno.rg}" style="display:none;"></td>
      <td th:text="${aluno.email}" style="display:none;"></td>
      <td th:text="${aluno.especial}" style="display:none;"></td>
      <td th:text="${aluno.anoIngresso}" style="display:none;"></td>
      <td th:text="${aluno.status.descricao}" style="display:none;"></td>
      
	  <td><i class="material-icons" onclick="exibeAluno(event);">visibility</i></td>
	  <td><i class="material-icons">edit</i></td>
	  <td><i class="material-icons">delete</i></td>
    </tr>
    
  </table>
</div>

	<div class="w3-container">
		  
		  <div id="modalExibicaoAluno" class="w3-modal">
			<div class="w3-modal-content w3-animate-top w3-card-4">
			  <header class="w3-container w3-teal"> 
				<span onclick="document.getElementById('modalExibicaoAluno').style.display='none'" 
				class="w3-button w3-display-topright">&times;</span>
				<h2>Dados do Aluno</h2>
			  </header>
			  
			  <div id="infoAluno" class="w3-container">
			  	<label>Matrícula: </label>
				<p></p>
				<label>Nome: </label>
				<p></p>
				<label>Sexo: </label>
				<p></p>
				<label>CPF: </label>
				<p></p>
				<label>Data de Nascimento:</label>
				<p></p>
				<label>Nome da mãe:</label>
				<p></p>
				<label>Nome do pai: </label>
				<p></p>
				<label>Endereço: </label>
				<p></p>
				<label>Telefone: </label>
				<p></p>
				<label>Rg: </label>
				<p></p>
				<label>Email: </label>
				<p></p>
				<label>Portador de necessidades: </label>
				<p></p>
				<label>Ano de ingresso: </label>
				<p></p>
				<label>Status: </label>
				<p></p>
	
			  </div>
			  
			</div>
		  </div>
		</div>
		
		<script type="text/javascript" src="/js/escola.js"></script>
		
</body>
</html>