<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Listar Alunos</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	</head>
	<body>
	
		<div class="w3-container">
  <h2>Lista de Alunos</h2>
  
  <a class="w3-button w3-teal" href="/aluno/novo">Novo aluno</a>
  
  <table class="w3-table-all w3-card-4">
    <tr>
   	  <th>Matrícula</th> 	
      <th>Nome Completo</th>
      <th>Sexo</th>
      <th>CPF</th>
	  <th>Visualizar</th>
	  <th>Editar</th>
	  <th>Deletar</th>
    </tr>
    <tr th:each="aluno : ${alunos}">
      <td th:text="${aluno.matricula}"></td>
      <td th:text="${aluno.nome}"></td>
      <td th:text="${aluno.sexo}"></td>
      <td th:text="${aluno.cpf}"></td>
	  <td><i class="material-icons">visibility</i></td>
	  <td><i class="material-icons">edit</i></td>
	  <td><i class="material-icons">delete</i></td>
    </tr>
    
  </table>
</div>
		
</body>
</html>