<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<body>
  
  <div class="w3-top w3-theme" th:fragment="cabecalho">
   <div class="w3-container">
  	<h1 class="w3-left">Sistema Escolar</h1>
  	<form class="w3-right" action="/logout" method="post">
  		<input type="submit" class="w3-button" value="Sair" />
  		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  	</form>
  	</div>
	  <div class="w3-bar w3-top w3-left-align w3-large">
	    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
	  </div>
  </div>
  
</body>  
</html>