<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<div>
		<h1 class="w3-teal w3-center">Login</h1>
	</div>
	
	<div class="w3-row">
	  <div class="w3-col m4 w3-center"><p class="w3-text-teal">-----------</p></div>
	  <div class="w3-col m4 w3-center">
	  	<div class="w3-container w3-card-4 w3-border w3-round-xlarge">
	  	
			<form action="/entrar" method="post">
		
				<p>
				<label>Usuário:</label>
				<input id="usuario" class="w3-input w3-border w3-round-large" type="text" name="username" required />
				</p>
				<p>
				<label>Senha:</label>
				<input class="w3-input w3-border w3-round-large" type="password" name="password" required/>
				</p>
				<p>
				<label>Tipo:</label>
				<select id="tipo" class="w3-select w3-input w3-border w3-round-large" th:value="${usuario}" required>
				    <option value="" disabled selected>Selecione...</option>
					<option th:each="usuario : ${todosTipoUsuario}" th:value="${usuario}"
						th:text="${usuario.descricao}"></option>
				</select>
				</p>
				<input id="btn-entrar" type="submit" class="w3-button w3-section w3-teal w3-ripple" value="Entrar" />
			</form>
		  </div>
	  </div>
	  <div class="w3-col m4 w3-center"><p class="w3-text-teal">-----------</p></div>
	</div>
	
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/escola.js"></script>

</body>
</html>