<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<body>
  
  <div th:fragment="menu">
    
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-theme-l4 w3-border w3-round-xlarge w3-animate-left" style="margin-top:10px; margin-left:6px;" id="mySidebar">
	  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
	    <i class="fa fa-remove"></i>
	  </a>
	  <h4 sec:authorize="hasRole('ROLE_SECRETARIO')" class="w3-bar-item w3-text-teal"><b>Área do Secretário</b></h4>
	  <h4 sec:authorize="hasRole('ROLE_PROFESSOR')" class="w3-bar-item w3-text-teal"><b>Área do Professor</b></h4>
	  	 <h5 class="w3-bar-item w3-theme-l2">ESCOLA</h5>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/escola/nova}">Nova</a>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/escola}">Listar</a>
	     <h5 class="w3-bar-item w3-theme-l2">ALUNO</h5>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/aluno/novo}">Novo</a>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/aluno}">Listar</a>
	     <h5 class="w3-bar-item w3-theme-l2">PROFESSOR</h5>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/professor/novo}">Novo</a>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/professor}">Listar</a>
	     <h5 class="w3-bar-item w3-theme-l2">SECRETÁRIO</h5>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/secretario/novo}">Novo</a>
	     <a class="w3-bar-item w3-button w3-hover-teal" th:href="@{/secretario}">Listar</a>

	</nav>
	

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  </div>
  
</body>  
</html>