<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Professor</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>	
	
	<header th:insert="~{Cabecalho :: cabecalho}"></header>
  	<div th:insert="~{Menu :: menu}"></div>
  	
  	<div class="w3-main w3-container w3-theme-l5 w3-border w3-round-xlarge" style="margin-left:263px; margin-top:80px; margin-right:6px;">
  	  <form th:action="@{/professor}" th:object="${professor}" method="post">
  	    <h4>Professor</h4>
  	    <label>Cpf:</label>
  	    <input type="text" class="w3-input" th:field="*{cpf}" />
  	    
  	    <label>Nome:</label>
  	    <input type="text" class="w3-input" th:field="*{nome}" />
  	    
  	    <label>Telefone:</label>
  	    <input type="text" class="w3-input" th:field="*{telefone}" />
  	    
  	    <label>Email:</label>
  	    <input type="text" class="w3-input" th:field="*{email}" />
  	    
  	    <label>Formação:</label>
  	    <select class="w3-select" th:field="*{formacao}">
		 <option th:each="formacao : ${todasFormacao}" th:value="${formacao}" th:text="${formacao.descricao}"></option>
	    </select>
	    
	    <label>Curso:</label>
  	    <input type="text" class="w3-input" th:field="*{curso}" />
  	    
  	    <button type="submit" class="w3-button w3-section w3-green w3-ripple w3-padding">Salvar</button>	
  	  </form>
  	  
  	</div>
	<script type="text/javascript" src="/js/escola.js"></script>

</body>
</html>