<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Sistema Escolar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/style.css">
<body>
	
  <header th:insert="~{Cabecalho :: cabecalho}"></header>
  
  <div th:insert="~{Menu :: menu}"></div>
	
  <div class="w3-main w3-container w3-theme-l5 w3-border w3-round-xlarge" style="margin-left:263px; margin-top:80px; margin-right:6px;">
  <h4>Professores</h4>
  
  <div class="w3-responsive">
  <table class="w3-table-all">
    <tr class="w3-teal">
   	  <th>Cpf</th> 	
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
	  <th>Formação</th>
	  <th>Curso</th>
	  <th>Editar</th>
	  <th>Deletar</th>
    </tr>
    <tr th:each="professor : ${professores}">
      <td th:text="${professor.cpf}"></td>
      <td th:text="${professor.nome}"></td>
      <td th:text="${professor.telefone}"></td>
      <td th:text="${professor.email}"></td>
      <td th:text="${professor.formacao.descricao}"></td>
      <td th:text="${professor.curso}"></td>
      
	  <td><i class="material-icons">edit</i></td>
	  <td><i class="material-icons">delete</i></td>
    </tr>
    
  </table>
  </div>
  </div>
  <script type="text/javascript" src="/js/escola.js"></script>

</body>
</html>